.hero-section {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  max-width: 1200px;
  margin: 2rem auto;
  padding: 0 1rem;

  border-radius: 12px;
  background-color: rgb(255, 233, 215);
  background-image: url("https://t4.ftcdn.net/jpg/02/78/12/73/360_F_278127372_mWGRfu0XaAaJbrGCCo4b4WHLaXU4U3p7.jpg");
  background-size: cover;
  background-position: center;
}
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1rem;
}
.deco-image {
  flex: 2;
  width: 100%;
  max-width: 900px;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  object-fit: cover;
}

.hero-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.hero-description {
  color: #ffffff;
  font-size: 1.1rem;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  font-weight: 500;
}

.hero-content .welcome-text {
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
  .hero-section {
    flex-direction: column;
    text-align: center;
  }

  .deco-image {
    width: 100%;
    max-width: 100%;
  }
}
